[submodule "onceuponatest"]
	path = onceuponatest
	url = https://github.com/pathfinderbot/onceuponatest
[submodule "anotherdayofwork"]
	path = anotherdayofwork
	url = https://github.com/minstrelbot/anotherdayofwork
